<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Local_Blog::news" title="Manage News" module="Local_Blog" sortOrder="10" action="admin_router_news/news" resource="Local_Blog::news"/>
    </menu>
</config>